form([formGroup]='form').question
    .question__title Question {{key+1}}
    .input-name
        acp-input(
            formControlName='question'
            '[inputId]'='"question " + key'
            label='Question'
            type='text'
        )
    .input-select
        acp-select(
            formControlName='questionType'
        '[options]'='options'
        )
    div.input-correct('*ngIf'='isShortAnswer')
        acp-input(
            formControlName='correctAnswer'
            '[inputId]'='"correctAnswer " + key'
            label='Correct Answer'
            type='text'
        )
    div.variants-container('*ngIf'='!isShortAnswer' formArrayName="answerVariants")
        ng-container('*ngFor'='let group of answerVariants.controls; let k = index')
            div.variants(       
                '[formGroupName]'="k"
            )
                .variants__inputs
                    .variants__inputs-check
                        acp-checkbox(
                            formControlName='isCorrect'
                        )
                    .variants__inputs-input
                        acp-input(
                            formControlName='answer'
                            '[inputId]'='"Variant " + k + " " + key'
                            '[label]'='"Variant " + (k+1)'
                            type='text'
                        )
                button.control__inline(type='button' '(click)'='removeAnswer(k)') Delete answer         
        button.control(type='button' '(click)'='addAnswer()') Add answer
    button.control.control__delete(type='button' '(click)'='removeQuestion()') Delete question
        