form(
    '[formGroup]'='form' 
    '(ngSubmit)'='onSubmit()'
    novalidate='' 
    autocomplete='off'
)
    .input
        acp-input(
            formControlName='name'
            label='Quiz name'
            type='text'
        )
acp-quiz-question(
    '*ngFor'='let cfg of config; index as i'
    '[key]'='i'
    '[config]'='cfg'
    '(submit)'='handleQuestionChange($event)'
    '(delete)'='removeQuestion($event)'
)
.controls
    button.control('type'='button' '(click)'='addQuestion()') Add question
    button.control('type'='button' '(click)'='onSubmit()') Submit
