acp-viewport
    form([formGroup]='formGroup' '(ngSubmit)'="onSubmit(formGroup)")
        acp-input(
            formControlName='somename'
            label='Label'
            inputId='somename'
            type='text'
        )
        acp-checkbox(
            formControlName='check'
            label='checkboxxxx'
        )
        acp-select(
            formControlName='select'
            '[options]'='states'
        )